{% extends "_base.html" %} {% block content %}

<div class="flex justify-between mb-4">
  <div>
    <h2 class="text-xl basis-1/2">Layanan</h2>
  </div>
  <div>
    <a
      href="{% url 'layanan_create'%}"
      class="px-5 py-2.5 text-sm font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Tambah Data
    </a>
  </div>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Nama Layanan</th>
        <th scope="col" class="px-6 py-3">Deskripsi</th>
        <th scope="col" class="px-6 py-3">Persyaratan</th>

        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for ly in layanan%}
      <tr
        class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ ly.nama}}
        </th>

        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ ly.deskripsi}}
        </th>
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {% if ly.persyaratan.exists %}
          <ul
            class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400"
          >
            {% for p in ly.persyaratan.all %}
            <li>{{ p.deskripsi }}</li>
            {% endfor %}
          </ul>
          {% else %} No requirements {% endif %}
        </th>

        <td class="px-6 py-4">
          <a
            href="{% url 'layanan_update' ly.id %}"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >
          <a
            href="{% url 'layanan_delete' ly.id %}"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >delete</a
          >
        </td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
</div>

{% endblock content %}
